USE [AbiMatuEnterpriseDB]
GO
/****** Object:  StoredProcedure [dbo].[AbuMatu_GetAllPaymentInfosByAgentIDnLocationIDByDateNAmountStatus]    Script Date: 05/20/2014 13:07:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AbuMatu_GetAllPaymentInfosByAgentIDnLocationIDByDateNAmountStatus]
(
	@LOCATIONID  INT,
	@AGENTID INT,
	@FROMDATE datetime,
	@TODATE datetime,
	@AMOUNT int,
	@STATUS  nvarchar(4000)
)
AS

Declare @SQL nvarchar(MAX)
set @SQL = '
SELECT TRANS.[TRANSID]
      ,TRANS.[CUSTID]
      ,[dbo].[getTotalTransactionAmountSUS](TRANS.[CUSTID],TRANS.TRANSDT) as totalAmountWitinLastTenDays
      ,TRANS.[RECEIVERID]
      ,TRANS.[LOCATIONID]
      ,TRANS.[TRANSDT]
      ,TRANS.[TRANSAMOUNT]
      ,TRANS.[TRANSFEES]
      ,TRANS.[TRANSOTHERFEES]
      ,TRANS.[CAUSETRANSOTHERFEES]
      ,TRANS.[TRANSPROMOCODE]
      ,TRANS.[TRANSPROMO]
      ,TRANS.[TRANSTOTALAMOUNT]
      ,TRANS.[FLAG_SM_RECEIVER]
      ,TRANS.[SM_RECEIVER]
      ,TRANS.[FLAG_CALL_RECEIVER]
      ,TRANS.[RECEIVERPHONENO]
      ,TRANS.[FLAG_DD]
      ,TRANS.[FLAG_TESTQUESTION]
      ,TRANS.[TESTQUESTION]
      ,TRANS.[TESTANSWER]
      ,TRANS.[FLAG_CALLSENDER]
      ,TRANS.[FLAG_SMSSENDER]
      ,TRANS.[FLAG_EMAILSENDER]
      ,TRANS.[SENDEREMAILADDRESS]
      ,TRANS.[TRANSSTATUS]
      ,TRANS.[TRANSRECEIVEDID]
      ,TRANS.[TRANSRECEIVEDATE]
      ,TRANS.[CREATEDBY]
      ,TRANS.[CREATEDON]
      ,TRANS.[UPDATEDBY]
      ,TRANS.[UPDATEDON]
      ,TRANS.[AGENTID]
      ,TRANS.[REFCODE]
	 ,CUSTOMER.USERNAME, CUSTOMER.CUSTFNAME, CUSTOMER.CUSTMNAME, CUSTOMER.CUSTLNAME,  CUSTOMER.CUSTADDRESS1,
                      CUSTOMER.CUSTFNAME+'' '' +CUSTOMER.CUSTMNAME+'' '' +CUSTOMER.CUSTLNAME as CUSTDETAIL,
                      RECEIVER.RECEIVERFNAME, RECEIVER.RECEIVERMNAME, RECEIVER.RECEIVERLNAME, RECEIVER.RECEIVERADDRESS1, 
                      RECEIVER.RECEIVERFNAME+'' '' + RECEIVER.RECEIVERMNAME+'' '' + RECEIVER.RECEIVERLNAME as RECEIVERDETAIL,
                      LOCATION.BRANCH,
                      LOCATION.BRANCH as LOCATIONDETAIL
FROM         TRANS INNER JOIN
                      RECEIVER ON TRANS.RECEIVERID = RECEIVER.RECEIVERID INNER JOIN
                      LOCATION ON TRANS.LOCATIONID = LOCATION.LOCATIONID INNER JOIN
                      CUSTOMER ON TRANS.CUSTID = CUSTOMER.CUSTOMERID
   
where TRANS.TRANSSTATUS in ('+@STATUS+') and 
		 TRANS.CREATEDON >= CAST('''+LEFT(CONVERT(VARCHAR, @FROMDATE, 120), 10)+' 00:00:00.000'+''' AS datetime)
			AND TRANS.CREATEDON <= CAST('''+LEFT(CONVERT(VARCHAR, @TODATE, 120), 10)+' 23:59:59'+''' AS datetime) '


if @LOCATIONID <> 0 set @SQL += ' AND TRANS.LOCATIONID = ' + CAST(@LOCATIONID as nvarchar(256))  +' '
if @AGENTID <> 0 set @SQL += ' AND TRANS.AGENTID = ' + CAST(@AGENTID as nvarchar(256))  +' '
if @AMOUNT <> 0 set @SQL += ' AND TRANS.TRANSTOTALAMOUNT >= ' + CAST(@AMOUNT as nvarchar(256))  +' '

print @SQL
exec(@SQL)



RETURN
